body{
  width: 1160px;
  margin: 0 auto 0 auto;
}

.card-grid{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.row-grid{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  /*height: 240px;*/
  gap:20px;

}

.card{
  overflow:hidden;
  flex-grow: 1;
  
}


